/* Variables
------------------------------------------*/

$color__text-main: #212529;

$color__lgray: #262626;
$color__gray: #212529;
$color__gold: #eac595;
$color__alt: #1a8cff;
$color__purple: #9999ff;

$font__main: 'Sono', sans-serif;

/* WordPress
-------------------------------------------*/

.wp {
  text-align: center;

  .col-12 {
    padding: 0;
  }

  h2 {
    margin-bottom: 1em;
  }

  h3 {
    font-style: italic;
  }
}