/* Variables
------------------------------------------*/

$color__text-main: #212529;

$color__lgray: #262626;
$color__gray: #212529;
$color__gold: #eac595;
$color__alt: #1a8cff;
$color__purple: #9999ff;

$font__main: 'Sono', sans-serif;

/* Utilities 
------------------------------------------*/

.underline {
  text-decoration: underline;
}

@media (min-width: 768px) {

  .flex__wrapper {
    display: flex;
  }
}

/* Typography 
------------------------------------------*/

html,
body {
  color: #fff;
  background-color: $color__text-main;;
  padding: 0;
  margin: 0;
  font-family: $font__main;
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-size: 1.5em;
  color: #fff;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-size: 1.25em;
  font-weight: bold;
  color: $color__gold;
  margin-bottom: 2em;
}

p {
  font-size: 16px;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.5em;

  &:last-of-type {
    margin-bottom: 0;
  }
}

li {
  font-size: 14px;
  font-size: 0.875em;
  font-weight: bold;
  font-style: italic;
}

a {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-decoration: none;

    &:hover, &:focus, &:active {
      color: #fff;
      text-decoration: underline;
    }
}

button {
  color: #fff;
  background-color: #29ABE2;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5em 0.75em;
  border-radius: 8px;
  border: 2px solid #29ABE2;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  margin-left: 0.25em;
  box-shadow: 0px 5px 5px 0px $color__text-main;
}

@media (min-width: 768px) {

  h2 {
    font-size: 32px;
    font-size: 2em;
  }

  h3 {
    font-size: 24px;
    font-size: 1.5em;
  }

  p {
    font-size: 18px;
    font-size: 1.125em;
  }

  li {
    font-size: 16px;
    font-size: 1em;
  }
}

@media (min-width: 992px) {

  h2 {
    font-size: 40px;
    font-size: 2.5em;
  }

  h3 {
    font-size: 28px;
    font-size: 1.75em;
  }

  p {
    font-size: 20px;
    font-size: 1.25em;
  }

  li {
    font-size: 18px;
    font-size: 1.125em;
  }
}

@media (min-width: 1200px) {

  h2 {
    font-size: 48px;
    font-size: 3em;
  }

  h3 {
    font-size: 32px;
    font-size: 2em;
  }

  p {
    font-size: 24px;
    font-size: 1.5em;
  }

  li {
    font-size: 20px;
    font-size: 1.25em;
  }
}

/* Animation
-------------------------------------------*/

/* Fade in */

.fadeIn {
  animation: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  opacity: 0;

  &.icon-2 {
    animation-delay: 0.5s;
  }

  &.icon-3 {
    animation-delay: 1s;
  }

  &.icon-4 {
    animation-delay: 1.5s;
  }

  &.icon-5 {
    animation-delay: 2s;
  }

  &.icon-6 {
    animation-delay: 2.5s;
  }

  &.icon-7 {
    animation-delay: 3s;
  }

  &.icon-8 {
    animation-delay: 3.5s;
  }
}

@keyframes fadeIn {
  0% {opacity: 0}
  20% {opacity: 0.2}
  40% {opacity: 0.4}
  60% {opacity: 0.6}
  80% {opacity: 0.8}
  100% {opacity: 1;}
} 

/* Typewriter */

@media (min-width: 768px) {

  .typewriter {
    overflow: hidden;
    border-right: 3.5px solid $color__gold;
    animation: types 4s steps(100, end) forwards, cursorblink 1s infinite;
    white-space: nowrap;
    width: 630px;
  }
  
 @keyframes cursorblink{
   0% {border-color: transparent}
   100%{ border-color:$color__gold;}
 }

  @keyframes types {
    from { width: 0; }
    to { width: 630px; }
 }
}

@media (min-width: 992px) {

  .typewriter {
    width: 700px;
  }

  @keyframes types {
    from { width: 0; }
    to { width: 700px; }
 }
}

@media (min-width: 1200px) {

  .typewriter {
    width: 840px;
  }

  @keyframes types {
    0% { width: 0; }
    100% { width: 840px; }
 }
}

/* Structure 
------------------------------------------*/

.justify-center {
  justify-content: center;
}

iframe {
  height: 575px;
  overflow: hidden;
}

section {
  padding: 2em 0;
}

@media (min-width: 768px) {

  iframe {
    width: 100%;
    height: 670px;
  }

  section {
    padding: 3em 0;
  }

  .container-md {
    max-width: 625px;
  }
}

@media (min-width: 992px) {

  section {
    padding: 4em 0;
  }

  .container-md {
    max-width: 700px;
  }
}

@media (min-width: 1200px) {

  iframe {
    height: 900px;
  }

  section {
    padding: 6em 0;
  }

  .container-md {
    max-width: 992px;
  }
}

@media (min-width: 1920px) {

  .container-xl {
    max-width: 1575px;
  }
}

/* Content
-------------------------------------------*/

.content {
  background-color: $color__lgray;
  background-size: cover;

  ul {
    margin: 1em 0 0;

    li {
      padding-left: 1em;
      margin-bottom: 1em;
      list-style-type: none;
      list-style-image: url('https://tnp-portfolio.com/php-demo/wp-content/uploads/2022/11/code-icon.svg');

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &-1 {
    background-image: url('https://tnp-portfolio.com/php-demo/wp-content/uploads/2022/11/bg-1.png');
  }

  &-2 {
    text-align: center;
    background-image: url('https://tnp-portfolio.com/php-demo/wp-content/uploads/2022/11/bg-2.png');

    ul {

      li {
        list-style-image: none;
      }
    }
  }

  &-3 {
    background-color: $color__lgray;
    text-align: center;

    ul {
      margin: 0 auto;
      max-width: 280px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        padding-left: 0.5em;
        text-align: left;
        flex-basis: 35%;
        list-style-image: url('https://tnp-portfolio.com/php-demo/wp-content/uploads/2022/10/arrow.png');
      }
    }
  }
}

@media (min-width: 768px) {

  .section__wrapper {
    display: flex;

    section {
      flex-basis: 50%;
    }
  }

  .content {

    &-1 {
      background-position-y: 35%;
    }

    &-2 {

      .flex__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }

    &-3 {

      ul {
        max-width: 100%;

        li {
          flex-basis: auto;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  
  .content {

    &-1 {
      background-position-y: 42%;
    }
  }
}

@media (min-width: 1200px) {
  

  .content {

    &-1 {
      background-position-y: 50%;
    }

    &-2 {
      padding: 4em 0 8em;
    }
  }
}

@media (min-width: 1920px) {
  

  .content {

    &-1 {
      background-position-y: 55%;
    }
  }
}

